.about{
    background-image: url(../img/z3.webp);
    width: 100%;
    height: 70vh;
    padding: 10% 0 5% 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #464646;
    background-attachment: fixed;
} 

.about h1{
    font-size: 40px;
    color: var(--color-white);
    font-weight: bold;
}

.about .seprator{
    width: 20%;
    height: 8px;
    background-color: var(--color-white);
    display: block;
    margin: auto;
    padding-top: 4px;
    border-radius: 10px;
}

.process{
    padding: 5% 0;
}

.process h6{
    font-weight: bold;
    font-size: 15px;
    color: var(--color-blue);
}

.process h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
}

.process p{
    color: var(--color-gry);
    font-size: 13px;
}

.process .heading .box{
    padding-top: 5%;
}

.process .box .card-body a{
    border: 1px solid var(--color-blue);
    border-radius: 50px;
    padding: 7px 7px;
    font-size: 15px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
}

.process .box .card .card-body h4{
    font-size: 13px;
    font-weight: 800;
}

.process .box .card .card-body p{
    font-size: 12px;
    color: var(--color-gry);
    padding-top: 8px;
}

.shop{
    padding: 7% 0;
}

.shop h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.shop p{
    font-size: 13px;
    color: var(--color-gry);
    padding-top: 10px; 
    text-align: center;
}

.shop .shop-card{
    color: white;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: var(--color-blue);
    margin-top: 10%;
}

.shop .inner{
    
}

.shop .inner h6{
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
}

.shop .inner h3{
    
} 

.shop .inner p {
    color: white;
    text-align: unset;
    font-size: 13px;
    padding: 15px 0;
}

.shop .inner .contact-btn
{
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 13px;
    background-color: var(--color-white);
    color: var(--color-blue);
    transition: 0.5s;
    font-weight: bold;
}

.shop .inner .contact-btn:hover{
    background-color: var(--color-blue);
    border: 1px solid var(--color-white);
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-white);
}


/* menu desktop and mobile switching on responsive  */

@media only screen and (max-width: 768px) {
   
}

@media only screen and (max-width: 600px) {
    .about{
        height: 25vh;
    }

    .about h1{
        font-size: 35px;
    }

    .process{
        padding: 7% 0;
    }

    .shop .shop-card{
        margin-top: 5%;
    }
} 