.footer{
    /* background-image: url(../img/footer.jpg);
    width: 100%;
    height: auto;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: var(--color-white);
    padding: 20px 0 10px 0;
    border-top: 1px solid var(--color-gry);
    box-shadow: 0px 0px 1px var(--color-gry);
}

/* .footer .first img{
    width: 12%;
    height: auto;
    border: 1px solid white;
    border-radius: 2px;
} */

.footer .first h3{
    font-size: 17px;
    color: var(--color-black);
    font-weight: bold;
}

.footer .first p{
    font-size: 13px;
    color: var(--color-gry);
}

.footer .press{
    margin-top: 5%;
}

.footer .press a{
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 13px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 0.5s;

}

.footer .press a:hover{
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-white);
}

.footer .first ul{
    list-style: none;
    padding-left: 0;
}

.footer .first li{
    padding-top: 8px;
}

.footer .first li a{
    color: var(--color-gry);
    font-size: 13px;
}

.footer .first li a:hover{
    color: var(--color-black);
    opacity: 0.5s;
    transition: 0.5s;
}

.footer .seprator{
    width: 100%;
    background-color: var(--color-gry);
    height: 1px;
    margin-top: 1%;
}

.footer .last p{
   text-align: center;
    color: var(--color-gry);
    font-size: 15px;
}