.abouts{
    padding: 5% 0;
}

.abouts .image{
    position: relative;
}

.abouts .image img{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: left;
    border-radius: 0 35px 35px 0px;
}

.abouts .heading{
    padding: 10% 0px 0 7%;
}

.abouts .heading h6{
    font-size: 12px;
    font-weight: 700;
    color: var(--color-blue);
}

.abouts .heading h1{
    font-size: 23px;
    font-weight: 800;
}

.abouts .heading p{
    color: var(--color-gry);
    font-size: 13px;
}

.abouts .heading .box{
    padding-top: 5%;
    position: absolute;
    width: 100%;
    left: -15%;
}

.abouts .box .card-body a{
    border: 1px solid var(--color-blue);
    border-radius: 30px;
    padding: 10px;
    font-size: 8px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
}

.abouts .box .card .card-body h4{
    font-size: 13px;
    font-weight: 800;
}

.abouts .box .card .card-body p{
    font-size: 12px;
    color: var(--color-gry);
    padding-top: 8px;
}

.check{
    padding: 5% 0;
}

.check .heading{
    padding-top: 15%;
}

.check .heading h6{
    font-size: 12px;
    font-weight: 700;
    color: var(--color-gry);
}

.check .heading h1{
    font-size: 23px;
    font-weight: 800;
}

.check .heading p{
    color: var(--color-gry);
    font-size: 13px;
}

.check .heading .button a{
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 13px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 0.5s;

}

.check .heading .button a:hover{
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-white);
}

.check .image img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-radius: 35px;
}

.deal{
    padding: 5% 0;
}

.deal h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.deal p{
    font-size: 13px;
    color: var(--color-gry);
    padding-top: 10px;
}

.deal .service-cards{
    padding-top: 30px;
}

.serve{
    padding: 5% 0;
}

.serve .heading{
    padding: 8% 0 0 7%;
}

.serve .heading h6{
    font-size: 12px;
    font-weight: 700;
    color: var(--color-gry);
}

.serve .heading h1{
    font-size: 23px;
    font-weight: 800;
}

.serve .heading p{
    color: var(--color-gry);
    font-size: 13px;
}

.serve .heading .button a{
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 13px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 0.5s;

}

.serve .heading .button a:hover{
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-white);
}

.serve .image img{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: center;
    border-radius: 35px;
}

.question{
    padding: 10% 0 15% 0;
    position: relative;
}

.question .main{
    background-color: var(--color-blue);
    padding: 5% 0;
    border-radius: 10px;
    position: relative;
}

.question .main .heading h6{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-white);
}

.question .main .heading .button a.active{
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 13px;
    background-color: var(--color-white);
    color: var(--color-blue);
    transition: 0.5s;
    font-weight: bold;
    margin-right: 10px;
}

.question .main .heading .button a.active:hover{
    background-color: var(--color-blue);
    border: 1px solid var(--color-white);
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-white);
}

.question .main .heading .button a{
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 13px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 0.5s;
    font-weight: bold;
}

.question .main .heading .button a:hover{
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    opacity: 0.5s;
    transition: 0.5s;
    color: var(--color-blue);
}

.question .main .image{
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: -90%;
    right: 35%;
}

.question .image img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.question .image .display-circle {
    width: 100px;
    height: 100px;
    background: #e68647;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    left: -40px;
    z-index: 0;
}



/* menu desktop and mobile switching on responsive  */

@media only screen and (max-width: 768px) {
    .abouts .heading .box{
        left: 0%;
        position: relative;
    }

    .abouts .heading{
        padding: 5% 0px 0 0%;
    }

    .deal h1{
        font-size: 30px;
    }

    .deal p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .card{
        margin-top: 15px;
    }

    .check .heading{
        padding-top: 0%;
    }

    .custom-card{
        margin-top: 5%;
    }
}